interfaces/src/main/resources/xsd/interfaces.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fixi="http://fixprotocol.io/2020/orchestra/interfaces" xmlns:dcterms="http://purl.org/dc/terms/" targetNamespace="http://fixprotocol.io/2020/orchestra/interfaces" elementFormDefault="qualified" version="1.0">
	<xs:annotation>
		<xs:documentation>
			FIX interface configuration
			© Copyright 2016-2020 FIX Protocol Limited
			Creative Commons Attribution-NoDerivatives 4.0
			International Public License
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="dcterms.xsd"/>
	<xs:complexType name="annotation">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="documentation" type="fixi:documentation"/>
			<xs:element name="appinfo" type="fixi:appinfo"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="appinfo" mixed="true">
		<xs:annotation>
			<xs:documentation>Usage specific annotation, optionally with link to
				an external reference or standard
			</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:any processContents="lax"/>
		</xs:sequence>
		<xs:attribute name="specUrl" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation>Reference documentation</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="langId" type="xs:language"/>
		<xs:attribute name="purpose" type="fixi:purpose_t"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="baseInterfaceType" abstract="true">
		<xs:sequence>
			<xs:element name="service" type="fixi:serviceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An application layer protocol with orchestration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userInterface" type="fixi:userIntefaceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="encoding" type="fixi:encodingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="sessionProtocol" type="fixi:sessionProtocolType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="protocol" type="fixi:protocolType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="transport" type="fixi:transportProtocolType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="annotation" type="fixi:annotation" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="documentation" mixed="true">
		<xs:sequence>
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="langId" type="xs:language"/>
		<xs:attribute name="purpose" type="fixi:purpose_t"/>
		<xs:attribute name="contentType" type="xs:string" default="text/plain"/>
	</xs:complexType>
	<xs:complexType name="encodingType">
		<xs:complexContent>
			<xs:extension base="fixi:protocolType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="identifierType" mixed="true">
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:element name="interfaces">
		<xs:annotation>
			<xs:documentation>
			This represents the current state of service and session configurations.
			Changes to configuration can represented with patch operations. See IETF RFC 5261
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="metadata" type="dcterms:elementOrRefinementContainer"/>
				<xs:element name="interface" type="fixi:interfaceType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="interfaceKey">
			<xs:annotation>
				<xs:documentation>Enforces unique interfaces names</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="fixi:interface"/>
			<xs:field xpath="@name"/>
		</xs:key>
		<xs:key name="sessionKey">
			<xs:annotation>
				<xs:documentation>Enforces unique session names</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="fixi:interface/fixi:sessions/fixi:session"/>
			<xs:field xpath="@name"/>
		</xs:key>
	</xs:element>
	<xs:complexType name="interfaceType">
		<xs:complexContent>
			<xs:extension base="fixi:baseInterfaceType">
				<xs:sequence>
					<xs:element name="sessions" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="session" type="fixi:sessionType" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="layer_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="application"/>
			<xs:enumeration value="presentation"/>
			<xs:enumeration value="session"/>
			<xs:enumeration value="transport"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="messageCast_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="unicast"/>
			<xs:enumeration value="multicast"/>
			<xs:enumeration value="broadcast"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="protocolEnum_t">
		<xs:annotation>
			<xs:documentation>List of FIX protocols to standardize spelling</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FIX4">
				<xs:annotation>
					<xs:documentation>FIX 4.x session layer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FIXT">
				<xs:annotation>
					<xs:documentation>FIX Transport Session Protocol</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FIXP">
				<xs:annotation>
					<xs:documentation>FIX Performance Session Layer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="tagvalue">
				<xs:annotation>
					<xs:documentation>Tag Value encoding (classic FIX)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FIXML">
				<xs:annotation>
					<xs:documentation>XML Schema</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAST">
				<xs:annotation>
					<xs:documentation>FIX Adapted for Streaming</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SBE">
				<xs:annotation>
					<xs:documentation>Simple Binary Encoding</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SOFH">
				<xs:annotation>
					<xs:documentation>Simple Open Framing Header</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GPB">
				<xs:annotation>
					<xs:documentation>Google Protocol Buffers</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JSON">
				<xs:annotation>
					<xs:documentation>Javascript Object Notation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FIXS">
				<xs:annotation>
					<xs:documentation>FIX over TLS security recommendation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="protocolName_t">
		<xs:annotation>
			<xs:documentation>Protocol names are not constrained to FIX protocols</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="fixi:protocolEnum_t xs:string"/>
	</xs:simpleType>
	<xs:complexType name="protocolType">
		<xs:sequence>
			<xs:element name="annotation" type="fixi:annotation" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="fixi:protocolName_t"/>
		<xs:attribute name="version" type="xs:string"/>
		<xs:attribute name="layer" type="fixi:layer_t"/>
		<xs:attribute name="reliability" type="fixi:reliability_t">
			<xs:annotation>
				<xs:documentation>Reliability can be implemented at transport, session, or application layers</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="orchestration" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation>URI of Orchestra rules of engagement</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:simpleType name="purpose_enum">
		<xs:annotation>
			<xs:documentation>Recommended annotation purposes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SYNOPSIS"/>
			<xs:enumeration value="ELABORATION"/>
			<xs:enumeration value="EXAMPLE"/>
			<xs:enumeration value="DISPLAY">
				<xs:annotation>
					<xs:documentation>For UI when different from canonical name; may
						have multi-language displays
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="purpose_t">
		<xs:annotation>
			<xs:documentation>Extensible annotation purposes</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="fixi:purpose_enum xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="reliability_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="bestEffort"/>
			<xs:enumeration value="idempotent"/>
			<xs:enumeration value="recoverable"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="role_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="initiator"/>
			<xs:enumeration value="acceptor"/>
			<xs:enumeration value="client"/>
			<xs:enumeration value="server"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="serviceType">
		<xs:complexContent>
			<xs:extension base="fixi:protocolType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sessionProtocolType">
		<xs:complexContent>
			<xs:extension base="fixi:protocolType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="sessionType">
		<xs:complexContent>
			<xs:extension base="fixi:baseInterfaceType">
				<xs:sequence>
					<xs:element name="identifier" type="fixi:identifierType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="activationTime" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="deactivationTime" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="role" type="fixi:role_t" minOccurs="0"/>
					<xs:element name="securityKeys" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Textual encoding as specified by IETF RFC 7468</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="transportProtocolType">
		<xs:complexContent>
			<xs:extension base="fixi:protocolType">
				<xs:attribute name="address" type="xs:string"/>
				<xs:attribute name="messageCast" type="fixi:messageCast_t" default="unicast"/>
				<xs:attribute name="use" type="fixi:transportUse_t"/>
				<xs:anyAttribute processContents="lax"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="transportUse_enum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="primary"/>
			<xs:enumeration value="secondary"/>
			<xs:enumeration value="alternate"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="transportUse_t">
		<xs:annotation>
			<xs:documentation>Extensible transport use</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="fixi:transportUse_enum xs:string"/>
	</xs:simpleType>
	<xs:complexType name="userIntefaceType">
		<xs:complexContent>
			<xs:extension base="fixi:protocolType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
