repository2016/src/main/resources/xsd/repositorytypes2016.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:fixr="http://fixprotocol.io/2016/fixrepository" targetNamespace="http://fixprotocol.io/2016/fixrepository" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0-rc1">
	<xs:annotation>
		<xs:documentation>
			© Copyright 2016 FIX Protocol Limited Creative
			Commons Attribution-NoDerivatives 4.0
			International Public License
		</xs:documentation>
	</xs:annotation>
	<xs:complexType name="componentType">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="componentRef" type="fixr:componentRefType"/>
				<xs:element name="fieldRef" type="fixr:fieldRefType"/>
			</xs:choice>
			<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="fixr:entityAttribGrp"/>
		<xs:attribute name="id" type="fixr:id_t" use="required"/>
		<xs:attribute name="name" type="fixr:ComponentName_t" use="required"/>
		<xs:attribute name="category" type="fixr:CategoryID_t" use="optional"/>
		<xs:attribute name="abbrName" type="fixr:Abbreviation_t" use="optional"/>
	</xs:complexType>
	<xs:complexType name="componentRefType">
		<xs:complexContent>
			<xs:extension base="fixr:messageEntity_t">
				<xs:attribute name="instanceName" type="fixr:ComponentName_t">
					<xs:annotation>
						<xs:documentation>Override the component name for this instance, for code generation and the like. Allows more than one instance of a component in a message.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="groupType">
		<xs:complexContent>
			<xs:extension base="fixr:componentType">
				<xs:attribute name="numInGroupId" type="fixr:id_t" use="required"/>
				<xs:attribute name="numInGroupName" type="fixr:FieldName_t" use="required"/>
				<xs:attribute name="implMinOccurs" type="xs:short" use="optional"/>
				<xs:attribute name="implMaxOccurs" type="xs:short" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="groupRefType">
		<xs:complexContent>
			<xs:extension base="fixr:componentRefType">
				<xs:attribute name="implMinOccurs" type="xs:short" use="optional"/>
				<xs:attribute name="implMaxOccurs" type="xs:short" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="fieldType">
		<xs:sequence>
			<xs:element name="codeSet" type="fixr:codeSetType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CodeSet may be specified inline or referenced by
							type attribute, but not both. Not currently enforced by this schema.
							Consider XML schema assertion in future.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="fixr:entityAttribGrp"/>
		<xs:attribute name="id" type="fixr:id_t" use="required"/>
		<xs:attribute name="name" type="fixr:FieldName_t" use="required"/>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Attribute type refers to either a datatype or a codeSet,
						which carries an underlying datatype.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="lengthId" type="fixr:id_t" use="optional">
			<xs:annotation>
				<xs:documentation>Identifies a field used as a length prefix
					</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="lengthName" type="fixr:FieldName_t" use="optional"/>
		<xs:attribute name="abbrName" type="fixr:Abbreviation_t" use="optional"/>
		<xs:attribute name="baseCategory" type="fixr:CategoryID_t"/>
		<xs:attribute name="baseCategoryAbbrName" type="fixr:Name_t"/>
		<xs:attribute name="unionDataType" type="fixr:UnionDataType_t"/>
		<xs:attribute name="implLength" type="xs:short" use="optional">
			<xs:annotation>
				<xs:documentation>Fixed length</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="implMinLength" type="xs:short" use="optional"/>
		<xs:attribute name="implMaxLength" type="xs:short" use="optional"/>
		<xs:attribute name="replacedByField" type="fixr:Tag_t"/>
		<xs:attribute name="presence" type="fixr:presence_t" default="optional"/>
	</xs:complexType>
	<xs:complexType name="fieldRefType" mixed="true">
		<xs:sequence>
			<xs:element name="codeSet" type="fixr:codeSetType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CodeSet may be specified inline or referenced by
							type attribute, but not both. Not currently enforced by this schema.
							Consider XML schema assertion in future.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="required" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="when" type="fixr:expressionType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="forbidden" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="when" type="fixr:expressionType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="fixr:entityAttribGrp"/>
		<xs:attribute name="id" type="fixr:id_t" use="required"/>
		<xs:attribute name="name" type="fixr:FieldName_t" use="required"/>
		<xs:attribute name="lengthId" type="fixr:id_t" use="optional">
			<xs:annotation>
				<xs:documentation>Identifies a field used as a length prefix
					</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="implLength" type="xs:short" use="optional">
			<xs:annotation>
				<xs:documentation>Fixed length</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="implMinLength" type="xs:short" use="optional"/>
		<xs:attribute name="implMaxLength" type="xs:short" use="optional"/>
		<xs:attribute name="replacedByField" type="fixr:Tag_t"/>
		<xs:attribute name="presence" type="fixr:presence_t" default="optional"/>
	</xs:complexType>
	<xs:complexType name="actorType">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>State variables</xs:documentation>
				</xs:annotation>
				<xs:element name="field" type="fixr:fieldType"/>
				<xs:element name="fieldRef" type="fixr:fieldRefType"/>
			</xs:choice>
			<xs:element name="states" type="fixr:stateMachineType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="timer" type="fixr:timerType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="responses" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="fixr:responseType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="fixr:Name_t" use="required"/>
		<xs:attribute name="extends" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="timerType">
		<xs:attribute name="name" type="fixr:Name_t" use="required"/>
	</xs:complexType>
	<xs:simpleType name="timerOperation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="START"/>
			<xs:enumeration value="CANCEL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="timerRefType">
		<xs:sequence>
			<xs:element name="event" type="fixr:transitionRefType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Transition event to fire when timer expires
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="fixr:Name_t" use="required"/>
		<xs:attribute name="operation" type="fixr:timerOperation" use="required"/>
		<xs:attribute name="interval" type="xs:duration"/>
	</xs:complexType>
	<xs:complexType name="stateMachineType">
		<xs:sequence>
			<xs:element name="initial" type="fixr:stateType"/>
			<xs:element name="state" type="fixr:stateType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="fixr:Name_t" use="required"/>
	</xs:complexType>
	<xs:complexType name="stateType">
		<xs:sequence>
			<xs:element name="transition" type="fixr:transitionType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="fixr:Name_t" use="required"/>
	</xs:complexType>
	<xs:complexType name="stateRefType">
		<xs:sequence>
			<xs:element name="fieldRef" type="fixr:fieldRefType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="transitionType">
		<xs:attribute name="name" type="fixr:Name_t" use="required"/>
		<xs:attribute name="target" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="transitionRefType">
		<xs:attribute name="stateMachine" type="xs:string"/>
		<xs:attribute name="name" type="fixr:Name_t"/>
	</xs:complexType>
	<xs:complexType name="messageType">
		<xs:sequence>
			<xs:element name="structure">
				<xs:complexType>
					<xs:choice maxOccurs="unbounded">
						<xs:element name="component" type="fixr:componentType"/>
						<xs:element name="componentRef" type="fixr:componentRefType"/>
						<xs:element name="group" type="fixr:groupType"/>
						<xs:element name="field" type="fixr:fieldType"/>
						<xs:element name="fieldRef" type="fixr:fieldRefType"/>
					</xs:choice>
					<!-- message elements may be by reference or inline -->
				</xs:complexType>
			</xs:element>
			<xs:element name="responses" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="fixr:responseType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="fixr:messageAttribGrp"/>
		<xs:attributeGroup ref="fixr:entityAttribGrp"/>
		<xs:attribute name="context" type="xs:string" default="base"/>
		<xs:attribute name="extends" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>If present, refers to another context, assuming
					the same message name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="originator" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>If present, refers to an actor name
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="destination" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>If present, refers to an actor name
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="responseType">
		<xs:sequence>
			<xs:element name="messageRef" type="fixr:messageRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="stateRef" type="fixr:stateRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="transitionRef" type="fixr:transitionRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="when" type="fixr:expressionType"/>
		</xs:sequence>
		<xs:attribute name="name" type="fixr:Name_t"/>
	</xs:complexType>
	<xs:complexType name="messageRefType" mixed="true">
		<xs:attribute name="name" type="fixr:MessageName_t" use="required"/>
		<xs:attribute name="msgType" type="fixr:MsgType_t"/>
		<xs:attribute name="context" type="xs:string" default="base"/>
	</xs:complexType>
	<xs:complexType name="codeSetType">
		<xs:sequence>
			<xs:element name="code" type="fixr:codeType" maxOccurs="unbounded"/>
			<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="fixr:Name_t" use="required"/>
		<xs:attribute name="type" type="fixr:Datatype_t" use="required">
			<xs:annotation>
				<xs:documentation>Underlying FIX datatype of codes
					</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" type="xs:string" use="optional"/>
		<xs:attribute name="source" type="xs:anyURI" use="optional">
			<xs:annotation>
				<xs:documentation>Link to an external reference for valid codes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="fixr:entityAttribGrp"/>
	</xs:complexType>
	<xs:complexType name="codeType">
		<xs:sequence>
			<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:string" use="required"/>
		<xs:attribute name="symbolicName" type="fixr:SymbolicName_t"/>
		<xs:attribute name="sort" type="xs:string" use="optional"/>
		<xs:attribute name="group" type="xs:string" use="optional"/>
		<xs:attributeGroup ref="fixr:entityAttribGrp"/>
	</xs:complexType>
	<xs:complexType name="documentation" mixed="true">
		<xs:sequence>
			<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="langId" type="fixr:language_t" use="optional"/>
		<xs:attribute name="purpose" type="fixr:purpose_t" use="optional"/>
		<xs:attributeGroup ref="fixr:entityAttribGrp"/>
	</xs:complexType>
	<xs:complexType name="appinfo">
		<xs:annotation>
			<xs:documentation>Usage specific annotation, optionally with link to an external reference or standard
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="source" type="xs:anyURI"/>
		<xs:attribute name="langId" type="fixr:language_t" use="optional"/>
		<xs:attribute name="purpose" type="fixr:purpose_t" use="optional"/>
		<xs:attributeGroup ref="fixr:entityAttribGrp"/>
	</xs:complexType>
	<xs:complexType name="annotation">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="documentation" type="fixr:documentation"/>
			<xs:element name="appinfo" type="fixr:appinfo"/>
		</xs:choice>
		<xs:attributeGroup ref="fixr:entityAttribGrp"/>
	</xs:complexType>
	<xs:attributeGroup name="messageAttribGrp">
		<xs:attribute name="id" type="fixr:id_t" use="required"/>
		<xs:attribute name="name" type="fixr:MessageName_t" use="required"/>
		<xs:attribute name="msgType" type="fixr:MsgType_t"/>
		<xs:attribute name="category" type="fixr:CategoryID_t" use="optional"/>
		<xs:attribute name="section" type="fixr:SectionID_t" use="optional"/>
		<xs:attribute name="abbrName" type="fixr:Abbreviation_t" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="containerAttribGrp">
		<xs:attribute name="latestEP" type="fixr:EP_t"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="entityAttribGrp">
		<xs:attribute name="added" type="fixr:Version_t" use="optional"/>
		<xs:attribute name="addedEP" type="fixr:EP_t" use="optional"/>
		<xs:attribute name="changeType" type="fixr:changeType_t" use="optional"/>
		<xs:attribute name="deprecated" type="fixr:Version_t" use="optional"/>
		<xs:attribute name="deprecatedEP" type="fixr:EP_t"/>
		<xs:attribute name="issue" type="xs:string"/>
		<xs:attribute name="lastModified" type="fixr:Version_t" use="optional"/>
		<xs:attribute name="replaced" type="fixr:Version_t"/>
		<xs:attribute name="replacedEP" type="fixr:EP_t"/>
		<xs:attribute name="supported" type="fixr:supportType" default="supported"/>
		<xs:attribute name="updated" type="fixr:Version_t"/>
		<xs:attribute name="updatedEP" type="fixr:EP_t"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="datatypeGrp">
		<xs:attribute name="standard" type="fixr:datatypeStandard_t" use="required"/>
		<xs:attribute name="builtin" type="xs:string" use="required"/>
		<xs:attribute name="base" type="xs:string" use="required"/>
		<xs:attribute name="pattern" type="xs:string"/>
		<xs:attribute name="element" type="xs:string"/>
		<xs:attribute name="parameter" type="xs:string"/>
		<!-- upper and lower bounds are inclusive -->
		<xs:attribute name="minInclusive" type="xs:string">
			<xs:annotation>
				<xs:documentation>Inclusive lower bound</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxInclusive" type="xs:string">
			<xs:annotation>
				<xs:documentation>Inclusive upper bound</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<!-- The abstract type (for substitution group for entities that make up 
		components, groups, and messages) -->
	<xs:complexType name="messageEntity_t" mixed="true">
		<xs:sequence>
			<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="fixr:entityAttribGrp"/>
		<xs:attribute name="id" type="fixr:id_t" use="required"/>
		<xs:attribute name="name" type="fixr:Name_t" use="required"/>
		<xs:attribute name="presence" type="fixr:presence_t" use="optional" default="optional"/>
		<xs:attribute name="abbrName" type="fixr:Abbreviation_t"/>
	</xs:complexType>
	<xs:simpleType name="purpose_t">
		<xs:annotation>
			<xs:documentation>Permitted text purposes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SYNOPSIS"/>
			<xs:enumeration value="ELABORATION"/>
			<xs:enumeration value="EXAMPLE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="id_t">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="language_t">
		<xs:restriction base="xs:language"/>
	</xs:simpleType>
	<xs:simpleType name="changeType_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Editorial"/>
			<xs:enumeration value="Definitional"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name_t">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
			<xs:pattern value="([A-Z]|[a-z]|_)([0-9]|[A-Z]|[a-z]|_)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Tag_t">
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:simpleType name="FieldName_t">
		<xs:restriction base="fixr:Name_t"/>
	</xs:simpleType>
	<xs:simpleType name="Datatype_t">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
			<xs:pattern value="([A-Z]|[a-z])([0-9]|[A-Z]|[a-z]|_|-)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="datatypeStandard_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ISO11404">
				<xs:annotation>
					<xs:documentation>General Purpose Datatypes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GPB"/>
			<xs:enumeration value="JSON"/>
			<xs:enumeration value="SBE"/>
			<xs:enumeration value="XML"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Edition_t">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SymbolicName_t">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
			<xs:pattern value="([A-Z]|[a-z]|_)([0-9]|[A-Z]|[a-z]|_)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GroupName_t">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Sort_t">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="MsgType_t">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageName_t">
		<xs:restriction base="fixr:Name_t"/>
	</xs:simpleType>
	<xs:simpleType name="CategoryID_t">
		<xs:restriction base="fixr:Name_t"/>
	</xs:simpleType>
	<xs:simpleType name="MsgID_t">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxExclusive value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CompID_t">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MsgOrCompID_t">
		<xs:union memberTypes="fixr:MsgID_t fixr:CompID_t"/>
	</xs:simpleType>
	<xs:simpleType name="CatComponentType_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Field"/>
			<xs:enumeration value="Message"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CatIncludeFile_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="components"/>
			<xs:enumeration value="fields"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SectionID_t">
		<xs:restriction base="fixr:Name_t">
			<xs:enumeration value="Session"/>
			<xs:enumeration value="PreTrade"/>
			<xs:enumeration value="Trade"/>
			<xs:enumeration value="PostTrade"/>
			<xs:enumeration value="Infrastructure"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ComponentName_t">
		<xs:restriction base="fixr:Name_t"/>
	</xs:simpleType>
	<xs:simpleType name="UnionDataType_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Qty"/>
			<xs:enumeration value="Reserved100Plus"/>
			<xs:enumeration value="Reserved1000Plus"/>
			<xs:enumeration value="Reserved4000Plus"/>
			<xs:enumeration value="Tenor"/>
			<!-- JimN - added specifically for Jira RPOS-271 -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Version_t">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>Enumerated FIX versions or major.minor or date as yyyymmdd of any protocol</xs:documentation>
			</xs:annotation>
			<xs:pattern value="(FIX.2.7)|(FIX.3.0)|(FIX\.4\.[0-4])|(FIX\.5\.0(SP\d{1,2})?(_EP((9[8-9])|([1-9][0-9][0-9])))?)|(FIXT.1.1)|([0-9]+)\.([0-9]+)|(\d{8})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EP_t">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="Term_t">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Usage_t">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Abbreviation_t">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="VolumeNumber_t">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VolumeName_t">
		<xs:restriction base="fixr:Name_t">
			<xs:enumeration value="Volume1"/>
			<xs:enumeration value="Volume2"/>
			<xs:enumeration value="Volume3"/>
			<xs:enumeration value="Volume4"/>
			<xs:enumeration value="Volume5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="presence_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="optional"/>
			<xs:enumeration value="required"/>
			<xs:enumeration value="conditional"/>
			<xs:enumeration value="forbidden"/>
			<xs:enumeration value="ignored"/>
			<xs:enumeration value="constant"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Volume_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="FIXT.1.1"/>
			<xs:enumeration value="?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CategoryComponentType_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Field"/>
			<xs:enumeration value="Message"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IncludeFile_t">
		<xs:restriction base="xs:string">
			<xs:enumeration value="components"/>
			<xs:enumeration value="fields"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="expressionType">
		<xs:annotation>
			<xs:documentation>Boolean predicate expressed in a Domain Specific
				Language
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="supportType">
		<xs:annotation>
			<xs:documentation>Support level</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="supported"/>
			<xs:enumeration value="forbidden"/>
			<xs:enumeration value="ignored"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
