repository/src/main/resources/xsd/repository.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fixr="http://fixprotocol.io/2024/orchestra/repository" xmlns:dcterms="http://purl.org/dc/terms/" targetNamespace="http://fixprotocol.io/2024/orchestra/repository" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1-rc2">
	<xs:annotation>
		<xs:documentation>
			FIX Repository standard structure of messages with workflow
			© Copyright 2016-2024 FIX Protocol Limited
			Creative Commons Attribution-NoDerivatives 4.0
			International Public License
		</xs:documentation>
	</xs:annotation>
	<!-- includes xml:base to support XInclude -->
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:include schemaLocation="repositorytypes.xsd"/>
	<xs:import namespace="http://purl.org/dc/terms/" schemaLocation="dcterms.xsd"/>
	<xs:element name="actors">
		<xs:annotation>
			<xs:documentation>Participants and the message flows between them</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="actor" type="fixr:actorType"/>
					<xs:element name="flow" type="fixr:flowType"/>
				</xs:choice>
				<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:base"/>
		</xs:complexType>
		<xs:key name="actorKey">
			<xs:selector xpath="fixr:actor"/>
			<xs:field xpath="@name"/>
		</xs:key>
		<xs:keyref name="producerKeyRef" refer="fixr:actorKey">
			<xs:selector xpath="fixr:flow"/>
			<xs:field xpath="@source"/>
		</xs:keyref>
		<xs:keyref name="consumerKeyRef" refer="fixr:actorKey">
			<xs:selector xpath="fixr:flow"/>
			<xs:field xpath="@destination"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="categories">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="category" type="fixr:categoryType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A business process category, a subcategory of a businessArea</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:base"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="codeSets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codeSet" type="fixr:codeSetType" minOccurs="0" maxOccurs="unbounded">
					<xs:key name="codeKey">
						<xs:selector xpath="fixr:code"/>
						<xs:field xpath="@name"/>
					</xs:key>
				</xs:element>
				<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:base"/>
		</xs:complexType>
		<xs:key name="codeSetNameKey">
			<xs:selector xpath="fixr:codeSet"/>
			<xs:field xpath="@name"/>
			<xs:field xpath="@scenario"/>
		</xs:key>
		<xs:key name="codeSetIdKey">
			<xs:selector xpath="fixr:codeSet"/>
			<xs:field xpath="@id"/>
			<xs:field xpath="@scenarioId"/>
		</xs:key>
	</xs:element>
	<xs:element name="components">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="component" type="fixr:componentType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:base"/>
		</xs:complexType>
		<xs:key name="componentNameKey">
			<xs:selector xpath="fixr:component"/>
			<xs:field xpath="@name"/>
			<xs:field xpath="@scenario"/>
		</xs:key>
		<xs:key name="componentIdKey">
			<xs:selector xpath="fixr:component"/>
			<xs:field xpath="@id"/>
			<xs:field xpath="@scenarioId"/>
		</xs:key>
	</xs:element>
	<xs:element name="concepts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="concept" type="fixr:conceptType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:base"/>
		</xs:complexType>
		<xs:key name="conceptKey">
			<xs:selector xpath="fixr:concept"/>
			<xs:field xpath="@name"/>
		</xs:key>
	</xs:element>
	<xs:element name="datatypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fixr:datatype" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:base"/>
		</xs:complexType>
		<xs:key name="datatypeKey">
			<xs:selector xpath="fixr:datatype"/>
			<xs:field xpath="@name"/>
			<xs:field xpath="@scenarioId"/>
		</xs:key>
	</xs:element>
	<xs:element name="fields">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="field" type="fixr:fieldType" minOccurs="0" maxOccurs="unbounded">
					<xs:key name="typeKey">
						<xs:selector xpath="."/>
						<xs:field xpath="@type|@codeSet"/>
					</xs:key>
				</xs:element>
				<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:base"/>
		</xs:complexType>
		<xs:key name="fieldNameKey">
			<xs:selector xpath="fixr:field"/>
			<xs:field xpath="@name"/>
			<xs:field xpath="@scenario"/>
		</xs:key>
		<xs:key name="fieldIdKey">
			<xs:selector xpath="fixr:field"/>
			<xs:field xpath="@id"/>
			<xs:field xpath="@scenarioId"/>
		</xs:key>
	</xs:element>
	<xs:element name="groups">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="group" type="fixr:groupType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:base"/>
		</xs:complexType>
		<xs:key name="groupNameKey">
			<xs:selector xpath="fixr:group"/>
			<xs:field xpath="@name"/>
			<xs:field xpath="@scenario"/>
		</xs:key>
		<xs:key name="groupIdKey">
			<xs:selector xpath="fixr:group"/>
			<xs:field xpath="@id"/>
			<xs:field xpath="@scenarioId"/>
		</xs:key>
	</xs:element>
	<xs:element name="messages">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="fixr:messageType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:base"/>
		</xs:complexType>
		<xs:key name="messageNameKey">
			<xs:annotation>
				<xs:documentation>Combination of message name and scenario name must be
					unique</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="fixr:message"/>
			<xs:field xpath="@name"/>
			<xs:field xpath="@scenario"/>
		</xs:key>
		<xs:key name="messageIdKey">
			<xs:annotation>
				<xs:documentation>Combination of message id and scenario ID must be
					unique</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="fixr:message"/>
			<xs:field xpath="@id"/>
			<xs:field xpath="@scenarioId"/>
		</xs:key>
	</xs:element>
	<xs:element name="repository">
		<xs:complexType>
			<xs:all>
				<xs:element name="metadata" type="dcterms:elementOrRefinementContainer"/>
				<xs:element ref="fixr:categories" minOccurs="0"/>
				<xs:element ref="fixr:sections" minOccurs="0"/>
				<xs:element ref="fixr:datatypes"/>
				<xs:element ref="fixr:codeSets" minOccurs="0"/>
				<xs:element ref="fixr:fields"/>
				<xs:element ref="fixr:actors" minOccurs="0"/>
				<xs:element ref="fixr:components" minOccurs="0"/>
				<xs:element ref="fixr:groups" minOccurs="0"/>
				<xs:element ref="fixr:messages"/>
				<xs:element ref="fixr:concepts" minOccurs="0"/>
				<xs:element ref="fixr:scenarios" minOccurs="0"/>
				<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Stable name that does not change with minor version updates</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="version" type="fixr:Version_t" use="required"/>
			<xs:attribute name="guid" type="xs:string"/>
			<xs:attribute name="specUrl" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>Reference documentation</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="namespace" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>An associated namespace as URI</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="expressionLanguage" type="xs:string" default="Score">
				<xs:annotation>
					<xs:documentation>The syntax of 'expressionType'</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
		<xs:key name="datatypeRefKey">
			<xs:selector xpath="fixr:datatypes/fixr:datatype"/>
			<xs:field xpath="@name"/>
			<xs:field xpath="@scenarioId"/>
		</xs:key>
		<xs:keyref name="typeKeyref" refer="fixr:datatypeRefKey">
			<xs:selector xpath="fixr:fields/fixr:field"/>
			<xs:field xpath="@type"/>
			<xs:field xpath="@scenarioId"/>
		</xs:keyref>
		<xs:key name="codeSetRefKey">
			<xs:selector xpath="fixr:codeSets/fixr:codeSet"/>
			<xs:field xpath="@name"/>
			<xs:field xpath="@scenarioId"/>
		</xs:key>
		<xs:keyref name="codeSetKeyref" refer="fixr:codeSetRefKey">
			<xs:selector xpath="fixr:fields/fixr:field"/>
			<xs:field xpath="@codeSet"/>
			<xs:field xpath="@scenarioId"/>
		</xs:keyref>
		<xs:key name="scenarioNameKey">
			<xs:selector xpath="fixr:scenarios/fixr:scenario"/>
			<xs:field xpath="@name"/>
		</xs:key>
		<xs:key name="scenarioIdKey">
			<xs:selector xpath="fixr:scenarios/fixr:scenario"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:keyref name="codeSetScenarioKeyRef" refer="fixr:scenarioIdKey">
			<xs:selector xpath="fixr:codeSet"/>
			<xs:field xpath="@scenarioId"/>
		</xs:keyref>
		<xs:keyref name="datatypeScenarioKeyRef" refer="fixr:scenarioIdKey">
			<xs:selector xpath="fixr:datatype"/>
			<xs:field xpath="@scenarioId"/>
		</xs:keyref>
		<xs:keyref name="componentScenarioKeyRef" refer="fixr:scenarioIdKey">
			<xs:selector xpath="fixr:component"/>
			<xs:field xpath="@scenarioId"/>
		</xs:keyref>
		<xs:keyref name="groupScenarioKeyRef" refer="fixr:scenarioIdKey">
			<xs:selector xpath="fixr:group"/>
			<xs:field xpath="@scenarioId"/>
		</xs:keyref>
		<xs:keyref name="messageScenarioKeyRef" refer="fixr:scenarioIdKey">
			<xs:selector xpath="fixr:message"/>
			<xs:field xpath="@scenarioId"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="scenarios">
		<xs:annotation>
			<xs:documentation>
		The default scenario is id='1' name='base'.
	</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="scenario" type="fixr:scenarioType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:base"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sections">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="section" type="fixr:sectionType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A large-grained business process category</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="annotation" type="fixr:annotation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:base"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
